<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    {%for msg in get_flashed_messages()%}
      {{msg}}
    {%endfor%}
    <form action="{{url_for('login')}}" method="POST">
      E-mail:
      <input type="email" name="email" autocomplete="off">

      Senha:
      <input type="password" name="senha" autocomplete="off">

      <button type="submit">Entrar</button><br><br>

      <a href="/cadastro"><button type="button">If you don't have a account, click here to do</button></a>

    </form>
</body>
</html>